<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
<h:head>
    <title>User Management | Add User</title>
    <h:outputStylesheet name="css/main.css"/>
</h:head>
<h:body>
    <h1>Add a new user</h1>
    <h:form>
        <h:outputLabel value="Surname" for="surname"/>
        <h:inputText value="#{userManagementBean.surname}" id="surname"/>
        <h:outputLabel value="Last name" for="lastname"/>
        <h:inputText value="#{userManagementBean.lastname}" id="lastname"/>
        <h:commandButton action="#{userManagementBean.addUser()}" value="Add"/>
        <h:commandButton action="index" value="Back to user list"/>
    </h:form>
</h:body>
</html>
