<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
<h:head>
    <title>org.iu.torbenwetter.user_management_jsf.User Management | Easteregg: Circle Calculation</title>
    <h:outputStylesheet name="css/main.css"/>
</h:head>
<h:body>
    <h1>Calculate the area of a circle</h1>
    <h:form>
        <h:outputLabel value="Radius" for="radius"/>
        <h:inputText value="#{circleCalculationBean.radius}" id="radius"/>
        <h:commandButton action="#{circleCalculationBean.calculateArea()}" value="Calculate"/>
        <h:outputText value="#{circleCalculationBean.area}"/>
        <h:commandButton action="index" value="Back to user list"/>
    </h:form>
</h:body>
</html>
