<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
<h:head>
    <title>User Management</title>
    <h:outputStylesheet name="css/main.css"/>
</h:head>
<h:body>
    <h1>List of users</h1>
    <h:dataTable value="#{userManagementBean.users}" var="user">
        <h:column>
            <f:facet name="header">
                <h:outputText value="Surname"/>
            </f:facet>
            <h:outputText value="#{user.surname}"/>
        </h:column>
        <h:column>
            <f:facet name="header">
                <h:outputText value="Lastname"/>
            </f:facet>
            <h:outputText value="#{user.lastname}"/>
        </h:column>
    </h:dataTable>
    <h:link value="Add a user" outcome="add-user"/><br/>
    <h:link value="Easteregg: Circle calculation" outcome="circle-calculation"/>
</h:body>
</html>
